{% if content.images|length > 0 %}
    {% set filename = content.images[0].filenameMd %}
    {% set alt = content.images[0].title %}
{% else %}
    {% set filename = 'bois-gris.jpg' %}
    {% set alt = '' %}
{% endif %}
<article class="">  
    <img class="background-image" src="/images/calophyllum/{{ filename }}" alt="{{alt}}"> 
    <div class="animate-background">                   
        <main class="overlay">
            <h3 class="">{{ content.title }}</h3>
            <div class="text-overlay">
                {{ content.content| raw }}
                {% if content.timeLines is defined and content.timeLines|length > 0 %}
                <a class='btn btn-primary' href="{{path('booking', {'id': content.id}) }}"><i class="far fa-calendar-alt"></i> Je réserve</a>
            {% endif %}
            </div>
        </main>
    </div>
</article>