{% extends 'base.html.twig' %}
{% set parameters = var_parameters.parameters %}
{% block title %}{{parameters.company}} - {{ page.action.name }}{% endblock %}

{% block body %}
    <main class="page">
        <h1 class="max-width">{{ page.name}}</h1>
        <section class="max-width column-2">
            {% for pageContainer in  page.pageContainers %}
                {% for pageContent in pageContainer.pageContents %}
                    <article class="text-justify marging-top">
                        <h2 class="text-left">{{ pageContent.title }}</h3>
                        {{ pageContent.content| raw }}
                    </article> 
                {% endfor %}
            {% endfor %}
        </section>
    </main>
{% endblock %}
