{% extends 'base.html.twig' %}
{% set parameters = var_parameters.parameters %}
{% block title %}{{parameters.company}} - {{ page.action.name }}{% endblock %}
{% set hasContactForm = true %}

{% block body %}
    <main class="page">
        <h1 class="max-width">{{ page.name}}</h1>
        {% for pageContainer in  page.pageContainers %}
            {% if pageContainer.container.id == constant('app\\entity\\Container::WRAPPER_TEXT') %}
                <div class="wrapper-text light-background">
                    {% for pageContent in pageContainer.pageContents %}
                        <section class="max-width bigger-text">
                            {{ pageContent.content|raw }}
                        </section>
                    {% endfor %}
                </div>
            {% endif %}
            {% if pageContainer.container.id == constant('app\\entity\\Container::COLUMN_TEXT') %}
                <section class="max-width column-text">
                    {% for pageContent in pageContainer.pageContents %}
                        <h2>{{ pageContent.title }}</h2>
                        {{ pageContent.content|raw }}
                    {% endfor %}
                </section>
            {% endif %}
            {% if pageContainer.container.id == constant('app\\entity\\Container::LIST') 
                or pageContainer.container.id == constant('app\\entity\\Container::INTRODUCTION_LIST')
                or pageContainer.container.id == constant('app\\entity\\Container::ARTICLE_LIST')  %}
            {% set contents = pageContainer.items %}
            {% if contents|length > 1 %}
                {% set listClass, classImg, classMain, classText, classBackground 
                    = pageContainer.class.name, 'background-image', 'overlay', 'text-overlay', 'animate-background' %}
            {% else %}
                {% set listClass, classImg, classMain, classText , classBackground 
                    = '', 'full-size', 'overlay width-33 position-right', 'text-justify bigger-text full-size','' %}
            {% endif %}
                <section class="max-width">
                    {% if pageContainer.title is not null %}
                        <h2>{{ pageContainer.title }}</h2>
                    {% endif %}
                    <div class="grid {{ listClass }}">
                        {% for content in contents %}
                            {% if content is instanceof('app\\entity\\PageContent') and content.isImageButton %}
                                <a href="{{ content.link.url }}" target="_blank">
                                    <figure>
                                        {{ content.content|raw}}
                                        <legend>{{ content.title }}</legend>
                                    </figure>
                                </a>
                            {% else %}
                                {% if pageContainer.container.id == constant('app\\entity\\Container::ARTICLE_LIST') %}
                                    <article class="list-item list-item-border">
                                        <h3 class="">{{ content.title }}</h3>
                                        {% if content.images|length > 0 %}
                                            {% set filename = content.images[0].filenameMd %}
                                            {% set alt = content.images[0].title %}
                                            <img src="/images/calophyllum/{{ filename }}" alt="{{alt}}"> 
                                        {% endif %}
                                        <div class="text-left">{{ content.content|raw}}</div>
                                    </article>
                                {% else %}
                                    {% include "/page/calophyllumArticle.html.twig" %}
                                {% endif %}
                            {% endif %} 
                        {% endfor %}
                    </div>
                </section>
            {% endif %}
            {% if pageContainer.container.id == constant('app\\entity\\Container::SCHEDULE') %}
                
            {% endif %}
            {% if pageContainer.container.id == constant('app\\entity\\Container::PROFIL') %}
                <section class="max-width text-center">
                {% set contents = pageContainer.items %}
                    {% for content in contents %}
                        {% if content.images|length > 0 %}
                            {% set filename = content.images[0].filenameMd %}
                            {% set alt = content.images[0].title %}
                            <div class="profil" style="background-image: url(/images/calophyllum/{{ filename }})"></div>
                        {% endif %}
                    {% endfor %}
                </section>
            {% endif %}
            {% if pageContainer.container.id == constant('app\\entity\\Container::WRAPPER_LIST') %}
                <div class="wrapper-list light-background">
                    <section class="max-width">
                        <h2>{{ pageContainer.title }}</h2>
                        <div class="flex flex-center flex-wrap">
                            {% for pageContent in pageContainer.pageContents %}
                                <div class="flex-item">
                                    <h3>{{ pageContent.title }}</h3>
                                    {{ pageContent.content|raw }}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="reference">{{ pageContainer.footer|raw }}</div>
                    </section>
                </div>
            {% endif %}
            {% if pageContainer.container.id == constant('app\\entity\\Container::WRAPPER_BUTTON') %}
                <div class="wrapper-list light-background">
                    <section class="max-width">
                        <h2>{{ pageContainer.title }}</h2>
                        <div class="flex flex-center">
                            {% for pageContent in pageContainer.pageContents %}
                                <div class="flex-item">
                                    {% if pageContent.images|length > 0 %}
                                        {% set filename = pageContent.images[0].filenameMd %}
                                        {% set alt = pageContent.images[0].title %}
                                    {% endif %}
                                    {% set route = pageContent.link.page.template.route.name %}
                                    {% set actionSlug = pageContent.link.page.action.slug %}
                                    {% set pageSlug = pageContent.link.page.slug %}
                                    <a href="{{path(route, {'pageSlug': pageSlug, 'actionSlug': actionSlug})}}">
                                        <div><img src="/images/calophyllum/{{ filename }}" alt="{{ alt }}"></div>
                                        <div class="m-t-20">{{ pageContent.title }}</div>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </section>
                </div>
            {% endif %}
        {% endfor %}
    </main>
{% endblock %}
