<article class="list-item">
    {% if content.images|length > 0 %}
        {% set filename = content.images[0].filenameMd %}
        {% set alt = content.images[0].title %}
        <img class="{{ classImg }}" src="/images/calophyllum/{{ filename }}" alt="{{alt}}"> 
    {% endif %}
    <div class="{{ classBackground }}">                   
        <main class="{{ classMain }}">
            {% if content.title is not null and classImg != 'full-size' %}
                <h3 class="">{{ content.title }}</h3>
            {% endif %}
            <div class="{{ classText }}">
                {% if content.summary is defined and content.summary is not null %}
                    {{ content.summary|raw }}
                {% else %}
                    {{ content.content|raw }}
                {% endif %}
                {% if content.type is defined %}
                    {% set types = [constant('app\\Entity\\Product::SCHEDULE_SERVICE'), constant('app\\Entity\\Product::SCHEDULE_AND_APPOINTEMENT_SERVICE')] %}
                    {% if content.type is defined and content.type in types %}
                        {% if content.dateHeaders is defined and content.activeDateHeaders|length > 0 %}
                            <div class="text-center time-line">
                                {% set dateHeaders = var_product.getAvailabilitiesQuantities(content) %}
                                {% set btn %}
                                    {% if content.summary is not null %}
                                        <a class='btn btn-primary' href="{{ path('product_show', {'product': content.id}) }}"><i class="fas fa-info-circle"></i>  En savoir plus</a>
                                    {% else %}
                                        <a class='btn btn-primary' href="{{ path('booking', {'id': content.id}) }}"><i class="far fa-calendar-alt"></i> Je réserve</a>
                                    {% endif %}
                                {% endset %}
                                {% if dateHeaders|length == 0 %}
                                    {% set dateHeaders = '' %}
                                    {% set btn %}
                                        <a class='btn btn-disabled'><i class="fas fa-times-circle"></i> Complet</a>
                                    {% endset %}
                                {% else %}
                                    <p>{{ content.shortDateHeaders}}<p/>
                                {% endif %}
                                {{ btn }}
                            </div>
                        {% endif %}
                    {% endif %}
                    {% if content.type is defined and content.type == constant('app\\Entity\\Product::APPOINTMENT_SERVICE') %}
                        <div class="text-center time-line">
                            <a class='btn btn-primary' href="{{path('booking', {'id': content.id}) }}"><i class="far fa-calendar-alt"></i> Je prends rendez-vous</a>
                        </div>
                    {% endif %}
                    {% if content.type is defined and content.type == constant('app\\Entity\\Product::BESPOKE_SERVICE') %}
                        <div class="text-center time-line">
                            <a class='btn btn-primary' href="{{path('informations', {'product': content.id}) }}"><i class="fas fa-info-circle"></i> En savoir plus</a>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </main>
    </div>
</article>