{% extends 'base.html.twig' %}
{% set parameters = var_parameters.parameters %}

{% block title %}{{parameters.company}} - {{ page.name }}{% endblock %}

{% block body %}
    <main class="page max-width">
        {% for pageContainer in  page.pageContainers %}
            <section class="grid grid-prices">
                {% for pageContent in pageContainer.pageContents %}
                    <figure class="slide-column first-column">
                        {% if pageContent.images|length > 0 %}
                            <picture class="slide-element slide-to-right">
                                <source media="(min-width: 768px)" srcset="/images/{{parameters.lowerCamelcase}}/{{ pageContent.images[0].filenameMd }}">
                                <source media="(min-width: 360px)" srcset="/images/{{parameters.lowerCamelcase}}/{{ pageContent.images[0].filenameXs }}">
                                <img src="/images/{{parameters.lowerCamelcase}}/{{ pageContent.images[0].filenameMd }}" alt="{{pageContent.images[0].title}}">
                            </picture>
                        {% endif %}
                    </figure>
                    <h1>{{ pageContainer.title|raw }}</h1>
                    <main>
                        {% for family in pageContent.families %}
                        <h2>{{ family.name }}</h2>
                        <table class="price-table">
                            {% if family.hasUniquesPrices == true %}
                                {% for unit in family.units %}
                                    {% set current_price = '' %}
                                    {% for price in family.genericProduct.prices %}
                                        {% if unit == price.unit %}
                                            {% if price.amount is not null %}
                                                {% set current_price = price.amount|number_format(2, ',') ~ ' euros net' %}
                                            {% else %}
                                                {% set current_price = 'nous consulter' %}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    <tbody>
                                        <tr>
                                            <td>{{ unit.label }}</td>
                                            <td class="price">{{ current_price }}</td>
                                        </tr>
                                {% endfor %}
                            {% else %}
                                <thead>
                                    <th></th>
                                    {% for unit in family.units %}
                                        <th class="unit">{{ unit.label }}</th>
                                    {% endfor %}
                                </thead>
                                <tbody>
                                {% for product in family.products %}
                                <tr>
                                    <td>{{ product.title }}</td>
                                    {% for unit in family.units %}
                                        {% set current_price = '' %}
                                        {% for price in product.prices %}
                                            {% if unit == price.unit %}
                                                {% if price.amount is not null %}
                                                    {% set current_price = price.amount|number_format(2, ',') ~ ' euros net' %}
                                                {% else %}
                                                    {% set current_price = 'nous consulter' %}
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                        <td class="price">{{ current_price }}</td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                        {% endfor %}
                    {% endfor %}
                    </main>
                <footer class="legal-notices">
                    {{ pageContainer.footer| raw }}
                </footer>
            </section>
        {% endfor %}
    </main>
{% endblock %}
