{% extends 'base.html.twig' %}

{% block title %}Identification!{% endblock %}

{% block body %}
<main class="page">
    <section class="max-width flex light-background padding-40">
        <div class="flex-item">
            <h1>Me connnecter</h1>
        </div>
        <div class="flex-item">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        Vous êtes connecter comme {{ app.user.username }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
                    </div>
                {% endif %}
                
                <label for="inputEmail" class="sr-only">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Mon adresse mail " required autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mon mot de passe" required>

                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >
                <div class="inline text-left">
                    <input type="checkbox" name="_remember_me">
                    <label for="_remenber_me">Se souvenir de moi</label>
                </div>

                <div class="form-footer">
                    <div class="btn btn-hint float-left">
                        <a href="{{ path('app_register')}}">Créer un compte</a>
                    </div>
                    <button class="btn btn-secondary float-right" type="submit">
                        <i class="fas fa-check"></i> S'identifier
                    </button>
                </div>
            </form>
        </div>
    </section>
</main>
{% endblock %}
