{% extends 'base.html.twig' %}
{% set parameters = var_parameters.parameters %}

{% block title %}{{parameters.company}} - {{ page.name }}{% endblock %}

{% block body %}
    <main class="page max-width">
        {% for container in page.pageContainers %}
            {% for content in container.pageContents %}
                <section class="grid grid-home">
                    <figure class="slide-column first-column">
                        {% if content.images[0] is defined %}
                            <picture class="slide-element slide-to-right">
                                <source media="(min-width: 768px)" srcset="/images/{{ content.images[0].filenameMd }}">
                                <source media="(min-width: 360px)" srcset="/images/{{ content.images[0].filenameXs }}">
                                <img src="/images/{{ content.images[0].filenameMd }}" alt="{{content.images[0].title}}">
                            </picture>
                        {% endif %}
                    </figure>
                    {% if content != null %}
                    <h1>{{ content.title }}</h1>
                    <main>
                        {{ content.content| raw }}
                    </main>
                    {% else %}
                        <p>L'article n'existe plus ou à été déplacé !</p>
                        <p><a href="{{ path('home')}}">Retour à l'acueil</a></p>
                    {% endif %}
                    <figure class="slide-column last-column">
                        {% if content.images[1] is defined %}
                            <picture class="slide-element slide-to-left">
                                <source media="(min-width: 768px)" srcset="/images/{{ content.images[1].filenameMd }}">
                                <source media="(min-width: 360px)" srcset="/images/{{ content.images[1].filenameXs }}">
                                <img src="/images/{{ content.images[1].filenameMd }}" alt="{{content.images[1].title}}">
                            </picture>
                        {% endif %}
                    </figure>
                </section>
            {% endfor %}
        {% endfor %}
    </main>
{% endblock %}
