{% extends 'base.html.twig' %}

{% block title %}Une pause{% endblock %}

{% block body %}
<section class="grid grid-home">
<figure>
        <picture class="picture-left">
            <source media="(min-width: 768px)" srcset="/images/{{ article.images[0].filenameMd }}">
            <source media="(min-width: 360px)" srcset="/images/{{ article.images[0].filenameXs }}">
            <img src="/images/{{ article.images[0].filenameMd }}" alt="{{article.images[0].title}}">
        </picture>
    </figure>
    <h1>{{ article.title }}</h1>
    <main>
        {{ article.content| raw }}
    </main>
    <figure>
        <picture class="picture-right">
            <source media="(min-width: 768px)" srcset="/images/{{ article.images[1].filenameMd }}">
            <source media="(min-width: 360px)" srcset="/images/{{ article.images[1].filenameXs }}">
            <img src="/images/{{ article.images[1].filenameMd }}" alt="{{article.images[0].title}}">
        </picture>
    </figure>
</section>

{% endblock %}
