<header>
    <img class="full-size" src="/images/header.png" alt="une-pause">
    <img class="logo" src="/images/une-pause.png" alt="une-pause">
    {% set tabs = app.request.request.get('tabs') %}
    <nav>
        <ul>
            {% for tab in tabs %}
                <li class="nav-item">       
                {% if tab.pages|length > 0 %}
                    {% if tab.pages|length > 1 %}
                        <a class="nav-link">{{ tab.name }}</a>
                        <div class="dropdown-menu">
                            {% for page in tab.pages %}
                                {% set route = page.template.route %}
                                <a href="{{ path(route, parameters = {'tab': tab.slug,'page': page.slug}) }}" class="dropdown-item">{{ page.name }}</a>
                            {% endfor %}
                            </div>
                    {% else %}
                        {% set route = tab.pages[0].template.route %}
                        <a href="{{ path(route, parameters = {'tab':tab.slug}) }}" class="nav-link">{{ tab.name }}</a>
                    {% endif %}
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
</header>