<header>
    {% set logo = "/images/calophyllum/" ~ parameters.dashCase ~ ".png" %}
    <a href="{{ app.request.getSchemeAndHttpHost() }}">
        <img class="logo" src="{{logo}}" alt="{{parameters.company}}">
    </a>
    {% set container = "header" %}
    {% set actions = var_actions.headerActions %}
    {% set formContact = form_contact.form.createView() %}
    {% set current_route = app.request.attributes.get('_route') %}
</header>
<div class="nav-btn bars">
    <i class="fas fa-bars"></i>
</div>
<nav  class="nav-tab">
    <div class="nav-btn times">
        <i class="fas fa-times"></i>
    </div>
    <ul>
        {% for action in actions %}
            {% if action.isActive == 1 %}
                {% if action.isAnchor == 0 %}
                    {% if action.pages|length > 0 %}
                        {% set route = action.pages[0].template.route.name %}
                        {% set class_nav_item_active = '' %}
                        {% if route == current_route  and (action_slug == action.slug) %}
                            {% set class_nav_item_active = ' nav-item-active' %}
                        {% endif %}
                        <li class="nav-item {{class_nav_item_active}}"> 
                        {% if action.pages|length > 1 %}
                            <a class="nav-link">{{ action.name }}</a>
                            <div class="dropdown-menu">
                                {% for page in action.pages %}
                                    {% set class_item = "dropdown-item"%}
                                    {% include 'partials/routeParameters.html.twig' %}
                                {% endfor %}
                            </div>
                        {% else %}
                            {% set page = action.pages[0] %}
                            {% set class_active = '' %}
                            {% set class_item = "nav-link" %}
                            {% include 'partials/routeParameters.html.twig' %}
                        {% endif %}
                        </li>
                    {% endif %}
                {% else %}
                    {% if action.icon is not null and class_item == "nav-link" and container == "header" %}
                        {% set text = '<i class="' ~ action.icon ~ '"></i>' %}
                    {% else %}
                        {% set text = action.name %}
                    {% endif %}
                    <li class="nav-item"> 
                        <a href="#{{ action.slug }}" class="{{ class_item }}" title ="{{ action.name }}">{{ text|raw }}</a>
                    </li>
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
</nav>