{% set route_parameters = page.template.route.parameters %}
{% set parameters = [] %}
{% set class_item_active = '' %}
{% if route == current_route  and action_slug == action.slug and page_slug == page.slug %}
    {% set class_item_active = ' item-active' %}
{% endif %}
{% for parameter in route_parameters %}
    {% if parameter.name == 'actionSlug'%}
        {% set parameters = parameters|merge({'actionSlug':attribute(action, parameter.value)}) %}
    {% endif %}
    {% if parameter.name == 'pageSlug' and action.slug != page.slug %}
        {% set parameters = parameters|merge({'pageSlug':attribute(page, parameter.value)}) %}
    {% endif %}
{% endfor %}
{% if action.icon is not null and class_item == "nav-link" and container == "header" %}
    {% set text = '<i class="' ~ action.icon ~ '"></i>' %}
{% else %}
    {% set text = page.name %}
{% endif %}
<a href="{{ path(route, parameters = parameters) }}" class="{{ class_item }}{{ class_item_active}}" title ="{{ page.name }}">{{ text|raw }}</a>
