{% extends 'base.html.twig' %}

{% set parameters = var_parameters.parameters %}
{% block title %}{{parameters.company}} - Admin{% endblock %}

{% block body %}

<div class="max-width">
    <h1>Réservations</h1>
    <div class="price-table light-background padding-40">
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Produit</th>
                    <th>Quantité</th>
                    <th>Prix</th>
                </tr>
            </thead>
            <tbobdy>
                {% for booking in bookings %}
                    <tr>
                        <td>
                            {% if null != booking.dateHeader %}
                                {% set dateLines = booking.dateHeader.longDateLines %}
                                {% include "partials/dateLines.html.twig" %}
                            {% endif %}
                        </td>
                        <td>
                            <p>{{ booking.product.family.name }}</p>
                            <p>{{ booking.product.title }}</p>
                        </td>
                        <td class="quantity">{{ booking.quantity }}</td>
                        <td class="price">{{ booking.price|localizedcurrency('EUR') }}</td>
                    </tr>
                {% endfor %}
            </tbobdy>
        </table>
    </div> 
</div>
{% endblock %}
