{% extends 'base.html.twig' %}

{% set parameters = var_parameters.parameters %}
{% block title %}{{parameters.company}} - Admin{% endblock %}

{% block body %}

<div class="max-width">
    <h1>Tableau de bord</h1>
    <div class="flex">
    <div class="badge flex-item">
        <div class="badge-title">
            <h2>Calendrier</h2>
        </div>
        <div class="badge-body">
            <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Produit</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbobdy>
                {% for timeLine in timeLines %}
                    <tr>
                        <td>{{ timeLine.day|date('d/m/Y') }}</td>
                        <td>{{ timeLine.product.family.name }}</td>
                        <td>{{ timeLine.product.title }}</td>
                        <td><a href="{{ path('time_line_edit', {'timeLine': timeLine.id}) }}"><i class="fas fa-edit"></i></a></td>
                    </tr>
                {% endfor %}
            </tbobdy>
        </table>
        <button class="btn btn-primary"><a href="{{ path('time_line_list') }}">Voir toutes les dates</a></td>
        <button class="btn btn-secondary"><a href="{{ path('time_line_edit') }}">Ajouter une date</a></td>
        </div>
    </div>
    <div class="badge flex-item">
        <div class="badge-title">
            <h2>Prochaines réservations</h2>
        </div>
        <div class="badge-body">
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Produit</th>
                    <th>Quantité</th>
                </tr>
            </thead>
            <tbobdy>
                {% for booking in bookings %}
                    <tr>
                        {% if null != booking.timeLine %}
                            <td>{{ booking.timeLine.day|date('d/m/Y') }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        <td>{{ booking.product.family.name }} {{ booking.product.title }}</td>
                        <td class="quantity">{{ booking.quantity }}</td>
                    </tr>
                {% endfor %}
            </tbobdy>
        </table>
            <button class="btn btn-primary"><a href="{{ path('admin_bookings') }}">Voir toutes les réservations</a></td>
        </div>
    </div>
    
    
</div>
{% endblock %}
