{% extends 'base.html.twig' %}

{% block title %}Admin - Calendrier{% endblock %}

{% block body %}
    <div class="page admin">
        <div class="max-width">
            <h1>Evénement</h1>
        </div>
        <div class="max-width grid grid-2-col">
            <div class="badge">
                <img src="/images/calophyllum/{{ dateHeader.product.family.image.filenameMd }}" alt="{{ dateHeader.product.family.image.title }}">
                <p>{{ dateHeader.product.family.name }}</p>
                <p>{{ dateHeader.product.title }}</p>
                {% set dateLines = dateHeader.longDateLines %}
                <h3>{{ dateLines.unit }}</h3>
                {% for dateLine in dateLines.dateLines %}
                    <p>{{ dateLine }}</p>
                {% endfor %}
                <p>{{ dateHeader.maxQuantity}} places maximum</p>
            </div>
            <div class="price-table badge">
                <h2>Réservations</h2>
                {% if bookings is not empty %}
                <table>
                    <thead>
                        <tr>
                            <th>Client</th>
                            <th>Quantité</th>
                            <th>Prix</th>
                        </tr>
                    </thead>
                    <tbobdy>
                        {% for booking in bookings %}
                            <tr>
                                <td>{{ booking.user.firstname}} {{ booking.user.lastname}}</td>
                                <td class="quantity">{{ booking.quantity }}</td>
                                <td class="price">{{ booking.price|localizedcurrency('EUR') }}</td>
                            </tr>
                        {% endfor %}
                    </tbobdy>
                </table>
                {% else %}
                    <p>Aucune réservation</p>
                {% endif %}
            </div>
        </div>
{% endblock %}