{% extends 'base.html.twig' %}

{% set parameters = var_parameters.parameters %}
{% block title %}{{parameters.company}} - Admin{% endblock %}

{% block body %}

<div class="max-width">
    <h1>Calendrier</h1>
    <div>
        <button class="btn btn-secondary"><a href="{{ path('date_header_edit') }}"><i class="fas fa-plus-circle"></i> Ajouter une date</a></td>
    </div> 
    <div class="badge">
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Produit</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbobdy>
                {% for dateHeader in dateHeaders %}
                    <tr>
                        <td>
                            {% set dateLines = dateHeader.longDateLines %}
                            {% include "partials/dateLines.html.twig" %}
                        </td>
                        <td>
                            <p>{{ dateHeader.product.family.name }}</P>
                            <p>{{ dateHeader.product.title }}</p>
                        </td>
                        <td>
                            <a href="{{ path('date_header_edit', {'dateHeader': dateHeader.id}) }}"><i class="fas fa-edit"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbobdy>
        </table>   
    </div>
</div>
{% endblock %}
