{% extends 'base.html.twig' %}

{% set parameters = var_parameters.parameters %}
{% block title %}{{parameters.company}} - Admin{% endblock %}

{% block body %}

<div class="max-width">
    <h1>Calendrier</h1>
    <div>
        <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Produit</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbobdy>
            {% for dateHeader in dateHeaders %}
                <tr>
                    <td>{{ dateHeader.day|date('d/m/Y') }}</td>
                    <td>{{ dateHeader.product.family.name }}</td>
                    <td>{{ dateHeader.product.title }}</td>
                    <td>
                        <a href="{{ path('time_line_edit', {'dateHeader': dateHeader.id}) }}"><i class="fas fa-edit"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbobdy>
    </table>
    <button class="btn btn-secondary"><a href="{{ path('time_line_edit') }}">Ajouter une date</a></td>
    </div>
</div>
{% endblock %}
