{% extends 'base.html.twig' %}
{% set parameters = var_parameters.parameters %}

{% if product.type == constant('app\\Entity\\Product::SCHEDULE_SERVICE') %}
    {% set title = 'Réservation' %}
{% else %}
    {% set title = 'Prise de rendez-vous' %}
{% endif %}
{% block title %}{{parameters.company}} - {{ title }}{% endblock %}

{% block body %}

<div class="max-width ">
    <h1>{{ title }}</h1>
    {{ form_start(form, {'attr': {'data-id': product.id}}) }}
    <div class="light-background padding-40">
        <div class="grid grid-2-col text-justify">
            <div>
                <h2>{{ product.family.name }}</h2>
                <h3>{{ product.title }}</h3>
                <p>{{ product.content|raw }}</p>
                {% set timeLines = var_product.getAvailabilitiesQuantities(product) %}

                {% if timeLines|length == 1 %}
                    <div>{{ timeLines.first.day|localizeddate('full', 'none', null)|capitalize }}</div>
                {% endif %}
                {% if form.timeLine is defined %}
                    <div class="time-line">
                        {{ timeLines|length ~ ' dates possibles' }}. {{ form_label(form.timeLine) }}
                        {{ form_widget(form.timeLine) }}
                    </div>
                {% endif %}
            </div>
            <div>
                <h2 class="text-center">
                    <img src="/images/calophyllum/{{ product.family.image.filenameMd }}" alt="{{ product.family.image.title }}">
                </h2>
                <div class="form-group inline">
                    {% if form.quantity is defined %}
                        {{ form_label(form.quantity) }} {{ form_widget(form.quantity) }}
                    {% endif %}
                    {% if price is not null %}
                        <div class="float-right price">{{ price|localizedcurrency('EUR') }}</div>
                    {% endif %}
                </div>
                {{ form_row(form.comments) }}
            </div>
        </div>
        <div class="x-footer">
            <button class="btn btn-secondary"><i class="fas fa-check"></i> Réserver</button>
        </div>
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}
