{% extends 'base.html.twig' %}
{% form_theme form _self %}
{% set parameters = var_parameters.parameters %}

{% if product.type == constant('app\\Entity\\Product::SCHEDULE_SERVICE') %}
    {% set title = 'Réservation' %}
{% else %}
    {% set title = 'Prise de rendez-vous' %}
{% endif %}
{% block title %}{{parameters.company}} - {{ title }}{% endblock %}

{% block body %}
<div class="max-width ">
    <h1>{{ title }}</h1>
    {{ form_start(form, {'attr': {'data-id': product.id}}) }}
    <div class="light-background padding-40">
        <div class="grid grid-2-col text-justify">
            <div>
                <div>
                    <h2 class="text-center marging-top">
                    <img src="/images/calophyllum/{{ product.family.image.filenameMd }}" alt="{{ product.family.image.title }}"> {{ product.family.name }}
                    </h2>
                    <h3>{{ product.title }}</h3>
                    <p>{{ product.content|raw }}</p>
                    {% set dateHeaders = var_product.getAvailabilitiesQuantities(product) %}
                </diV>
            </div>
            <div>
                <div>
                    {% if form.dateHeader is defined %}
                        {{ form_widget(form.dateHeader) }}
                    {% endif %}
                </div>
                <div class="form-group marging-top">
                    {% if form.quantity is defined %}
                        {{ form_label(form.quantity) }} {{ form_widget(form.quantity) }}
                    {% endif %}
                    {% if form.price is defined %}
                        <div class="float-right price">{{ form.price.vars.value|localizedcurrency('EUR') }}</div>
                    {% endif %}
                </div>
                {{ form_row(form.comments) }}
            </div>
        </div>
        <div class="x-footer">
            <button class="btn btn-secondary"><i class="fas fa-check"></i> Réserver</button>
        </div>
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}

{% block selectbox_widget %}
    {% if form|length > 1 %}
        <h3>{{ form|length ~ ' dates possibles' }}. {{ form_label(form) }}</h3>
    {% endif %}
    {% for child in form %}
    <div class="select-box{% if child.vars.checked == true %} active{% endif %}">
        {{ form_widget(child, {'attr':{'class':'hidden'}})}}
        {% set date_lines = unserialize(child.vars.attr['data-date-lines']) %}
        <h4>{{ child.vars.label }}</h4>
        {% for date_line in date_lines %}
            <p>{{ date_line }}</p>
        {% endfor %}
    </div>
    {% endfor %}
{% endblock %}
