{% extends 'base.html.twig' %}

{% block title %}Réservation{% endblock %}

{% block body %}

<div class="max-width">
    <h1>Réservation </h1>
    <h2>{{ product.family.name }}</h2>
    <div>
        <h3>{{ product.title }}</h3>
        <p>{{ product.content|raw }}</p>
    </div>
    {{ form_start(form) }}
    {{ form_row(form.timeLine) }}
    {{ form_end(form) }}

</div>
{% endblock %}
