{% extends 'base.html.twig' %}
{% if product.type == constant('app\\Entity\\Product::SHEDULE_SERVICE') %}
    {% set title = 'Réservation' %}
{% else %}
    {% set title = 'Prise de rendez-vous' %}
{% endif %}
{% block title %}{{ title }}{% endblock %}

{% block body %}

<div class="max-width ">
    <h1>{{ title }}</h1>
    {{ form_start(form, {'attr': {'data-id': product.id}}) }}
    <div class="light-background padding-40 grid grid-2-col text-left">
        <div>
            <h2>{{ product.family.name }}</h2>
            <h3>{{ product.title }}</h3>
            <p>{{ product.content|raw }}</p>
            {% if product.timeLines|length == 1 %}
                <div>{{ product.timeLines[0].day|localizeddate('full', 'none', null)|capitalize }}</div>
            {% endif %}
            {% if form.timeLine is defined %}
                <div class="time-line">
                    {{ product.timeLines|length ~ ' dates possibles' }}. {{ form_label(form.timeLine) }}
                    {{ form_widget(form.timeLine) }}
                </div>
            {% endif %}
        </div>
        <div>
            <div class="form-group inline">
                {% if form.quantity is defined %}
                    {{ form_label(form.quantity) }} {{ form_widget(form.quantity) }}
                {% endif %}
                {% if price is not null %}
                    <div class="float-right price">{{ price|localizedcurrency('EUR') }}</div>
                {% endif %}
            </div>
            {{ form_row(form.comments) }}
            <button class="btn btn-secondary float-right"><i class="fas fa-check"></i> Réserver</button>
        </div>
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}
