{% extends 'base.html.twig' %}

{% block title %}Admin - Paramètres{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/admin.css">
{% endblock %}
{% block body %}
{% set actions = var_actions.frontActions %}
<main class="page admin">
    <div class="max-width">
        <h1>Paramètres</h1>
    </div>
    <div class="max-width">
        <div class="grid grid-admin">
            <div class="nav-column">
                <ul>
                {% for action in actions %}
                    {% if action.office == constant('App\\Entity\\Action::FRONT_OFFICE') %}
                        <li class="nav-item{% if current_action == action %} nav-item-active{% endif %}">
                            {% if action.isActive %}
                                    <i class="fas fa-check-circle"></i>
                                {% else %}
                                    <i class="fas fa-times-circle"></i>
                                {% endif %}
                            <a href="{{ path('setting', {'action':action.id}) }}">{{ action.name }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
            {% if current_page is null %}
                {% set current_page = current_action.pages.first %}
            {% endif %}
            <div class="admin-main">
                <ul class="nav nav-tabs">
                {% for page in current_action.pages %}
                    {% if current_action.office == constant('App\\Entity\\Action::FRONT_OFFICE') %}
                            <li{% if page.id == current_page.id %} class="active"{% endif %}>
                                <a href="{{ path('setting', {'action':current_action.id, 'page':page.id}) }}">{{ page.name }}</a>
                            </li>
                    {% endif %}
                {% endfor %}
                </ul>
                {% for pageContainer in current_page.pageContainers %}
                    {% set mode = 'edit' %}
                    {% include "/page/container.html.twig" %}
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endblock %}