{% extends 'base.html.twig' %}
{% block title %}{{company.company.name}} - {{ product.title }}{% endblock %}


{% block body %}
    <main class="page">
        <h1 class="max-width">{{ product.family.name }}</h1>
        <div class="light-background padding-40 max-width">
            <div class="grid grid-2-col text-left">
                <div class="grid-item text-justify">
                    <h2>{{ product.title }}</h2>
                    {{ product.content|raw }}
                </div>
                <div class="grid-item">
                    {% set dateHeaders = var_product.getAvailabilitiesQuantities(product) %}
                    {% if dateHeaders|length == 0 %}
                        {% set timeLine = '' %}
                        {% set btn %}
                            <a class='btn btn-disabled'><i class="fas fa-times-circle"></i> Complet</a>
                        {% endset %}
                    {% else %}
                        <h2 class="text-center"><i class="far fa-clock bigger-i"></i></h2>
                        {#<h3>{{ timeLines|length ~ ' dates possibles' }}</h3>#}
                    {% endif %}
                    <div>
                        <div>
                            {% for dateHeader in dateHeaders %}
                            <div class="badge">
                                {% set dateLines = dateHeader.longDateLines %}
                                {% if dateLines is not empty %}
                                    {% include "partials/dateLines.html.twig" %}
                                {% endif %}
                                <div class="badge-body">
                                    {% set price = var_dateHeader.getPrice(dateHeader) %}
                                    {% if price is not null %}
                                        <p>{{ price|localizedcurrency('EUR') }} par personne</p>
                                    {% endif %}
                                    {% if dateHeader.availabilityQuantity is not null %}
                                        <p>{{ dateHeader.availabilityQuantity}} places disponibles</p>
                                    {% endif %}
                                </div>  
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="x-footer">
                <a class='btn btn-primary align-right' href="{{path('booking', {'id': product.id}) }}"><i class="far fa-calendar-alt"></i> Je prends rendez-vous</a>
            </div>
        </div>
    </main>
{% endblock %}
