{% extends 'base.html.twig' %}
{% set parameters = var_parameters.parameters %}

{% block title %}{{parameters.company}} - {{ page.name }}{% endblock %}

{% block body %}
    <main class="page max-width">
        {% for container in page.pageContainers %}
            {% for content in container.pageContents %}
                <section class="grid {{grid-article}}">
                    <figure class="slide-column first-column">
                        {% if content.images|length > 0 %}
                        <picture class="slide-element slide-to-right">
                            <source media="(min-width: 768px)" srcset="/images/{{parameters.lowerCamelcase}}/{{ content.images[0].filenameMd }}">
                            <source media="(min-width: 360px)" srcset="/images/{{parameters.lowerCamelcase}}/{{ content.images[0].filenameXs }}">
                            <img src="/images/{{parameters.lowerCamelcase}}/{{ content.images[0].filenameMd }}" alt="{{content.images[0].title}}">
                        </picture>
                        {% endif %}
                    </figure>
                    <h1>{{ content.title }}</h1>
                    <main>
                        <div class="col-md-2 col-xs-1">
                            {{ content.content| raw }}
                        </div>
                    </main>
                </section>
            {% endfor %}
        {% endfor %}
    </main>

{% endblock %}