<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <style>
            body {
                font-family: yu gothic ui m, sans-serif;
                color: #333333;
                max-width: 800px;
            }
            footer {
                font-size: x-small;
            }
            h1 {
                color: #814792;
            }
            .grid {
                display: grid;
                width: 100%;
            }
            .grid-2-col {
                grid-template-columns: 1fr 1fr;
                gap: 50px;
                    column-gap: 50px;
                grid-column-gap: 50px;
            }
        </style>
    </head>
    {% set parameters = var_parameters.parameters %}
    <body>
        {#{% set logo = encodeImg('./images/' ~ parameters.lowerCamelcase ~ '/logo-email.jpg') %}
        <img alt="logo" src="data:image/jpg;base64,{{ logo }}" />#}
        <img alt="logo" src="{{ app.request.schemeAndHttpHost }}/images/{{ parameters.lowerCamelcase }}/logo-email.jpg" />
        {% block body %}{% endblock %}
    </body>
    <footer>
        <hr>
        <h2>{{parameters.company}}</h2>
        <p>{{parameters.adress}}<br>{{parameters.postal_code}} {{parameters.town}}</p>
        <p>{{parameters.email}}</p>
    </footer>
</html>